@inject Service.ILoginStateService service
@if(admin)
{
    <div class="card">
        <div class="card-header">
            <h5>Admin Panel</h5>
        </div>
        <div class="card-body">
            <a href="vare/create">Create Product</a><br />
            <a href="vendor/create">Create Vendor</a><br />
            <a href="category/create">Create Category</a><br />
            <a href="order/all">Manage Orders</a><br />
            <a href="login/users">Manage Users</a><br />


        </div>
    </div>
}



@code {
    bool admin { get => GetRankState(); }
    private bool GetRankState()
    {
        return service.CheckRank(Model.Rank.Admin).Result;
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        service.LoggedIn += StateHasChanged;
    }
}
