<div class="jumbotron text-center" style="margin-bottom:0; padding-top:10px">
    <br />
    <div class="row">
        <div class="col-sm-4">
            <blockquote class="blockquote">
                <p style="font-size:1rem">
                    <a href="http://www.nillertron.com/resume">About me</a><br />
                    <a href="http://www.nillertron.com/contact">Contact</a><br />
                    <a href="https://nillertron.com">Main website</a><br />
                </p>
            </blockquote>


        </div>
        <div class="col-sm-4">
            <blockquote class="blockquote">

                <p style="font-size: 1rem">
                    Denmark<br />
                    7100 Vejle<br />
                    In search of a job
                </p>
                </blockquote>
        </div>
        <div class="col-sm-4">
            <blockquote class="blockquote">

                <p style="font-size:1rem">
                    Welcome to this mock webshop. You cannot buy anything here. This website is simply to demonstrate and practice web development. If my skills seems interesting to you, as an employee, do not hestitate to click the Contact link.
                </p>
            </blockquote>

        </div>
    </div>
    <hr class="my-4" />
    <p style="font-size:1rem">©opyright Nillertron 2020</p>
</div>
@code {

}
